<?xml version="1.0"?>
<config>
	<modules>
		<Doshu_Dlog>
			<version>0.1.0</version>
		</Doshu_Dlog>
	</modules>

	<admin>
		<routers>
			<dlog>
				<use>admin</use>
				<args>
					<module>Doshu_Dlog</module>
					<frontName>dlog</frontName>
				</args>
			</dlog>
		</routers>
	</admin>
	<adminhtml>
        <layout>
            <updates>
                <dlog>
					<file>dlog.xml</file>
                </dlog>
            </updates>
        </layout>
    </adminhtml>
	<global>
		<helpers>
			<dlog>
				<class>Doshu_Dlog_Helper</class>
			</dlog>
		</helpers>
		<models>
		    <dlog>
		        <class>Doshu_Dlog_Model</class>
		        <resourceModel>dlog_resource</resourceModel>
		    </dlog>
		    <dlog_resource>
            	<class>Doshu_Dlog_Model_Resource</class>
            	<entities>
		            <customer>
		                <table>log_customer</table>
		            </customer>
		        </entities>
        	</dlog_resource>
		</models>
		<blocks>
            <dlog>
                <class>Doshu_Dlog_Block</class>
            </dlog>
        </blocks>
	</global>
</config>
