<?xml version="1.0"?>
<config>
	<modules>
		<Doshu_Cog>
			<version>0.1.0</version>
		</Doshu_Cog>
	</modules>
	<global>
		<helpers>
			<cog>
				<class>Doshu_Cog_Helper</class>
			</cog>
		</helpers>
		<models>
		    <cog>
		        <class>Doshu_Cog_Model</class>
		        <resourceModel>cog_resource</resourceModel>
		    </cog>
		    <cog_resource>
            	<class>Doshu_Cog_Model_Resource</class>
        	</cog_resource>
        	<catalog>
        		<!--rewrite>
        			<product_option>Doshu_Cog_Model_Catalog_Product_Option</product_option>
        		</rewrite-->
        		
        	</catalog>
        	<catalog_resource>
        		<rewrite>
        			<product_option_collection>Doshu_Cog_Model_Catalog_Resource_Product_Option_Collection</product_option_collection>
        		</rewrite>
        	</catalog_resource>
		</models>
		<blocks>
			<cog>
                <class>Doshu_Cog_Block</class>
            </cog>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_type_select>Doshu_Cog_Block_Catalog_Product_Edit_Tab_Options_Type_Select</catalog_product_edit_tab_options_type_select>
                </rewrite>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Doshu_Cog_Block_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>
        </blocks>
	</global>
</config>
