<?xml version="1.0"?>
<config>
	<modules>
		<Doshu_Bonifico>
			<version>0.1.0</version>
		</Doshu_Bonifico>
	</modules>
	<global>
		<helpers>
			<bonifico>
				<class>Doshu_Bonifico_Helper</class>
			</bonifico>
		</helpers>
		<models>
			<bonifico>
				<class>Doshu_Bonifico_Model</class>
			</bonifico>
		</models>
		<blocks>
			<bonifico>
				<class>Doshu_Bonifico_Block</class>
			</bonifico>
		</blocks>
		<resources>
			<bonifico_setup>
				<setup>
					<module>Doshu_Bonifico</module>
					<!--class>Mage_Eav_Model_Entity_Setup</class-->
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bonifico_setup>
			<bonifico_write>
				<use>core_write</use>
			</bonifico_write>
			<bonifico_read>
				<use>core_read</use>
			</bonifico_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<bonifico>
				<use>standard</use>
				<args>
					<module>Doshu_Bonifico</module>
					<frontName>bonifico</frontName>
				</args>
			</bonifico>
		</routers>   
	</frontend>    
	<default>
		<payment>
			<bonifico>
				<active>1</active>
				<model>bonifico/standard</model>
				<order_status>pending</order_status>
				<title>Bonifico Bancario 30gg dffm</title>
				<payment_action>sale</payment_action>
			</bonifico>
		</payment>
	</default>
</config> 
