<?xml version="1.0"?>
<config>
    <modules>
        <Doshu_Paymentfilter>
            <version>0.2.0</version>
        </Doshu_Paymentfilter>
    </modules>
    <admin>
    	<routers>
            <paymentfilter>
                <use>admin</use>
                <args>
                    <module>Doshu_Paymentfilter</module>
                    <frontName>paymentfilter</frontName>
                </args>
            </paymentfilter>
        </routers>
    </admin>
    <global>
    	<helpers>
			<paymentfilter>
	 			<class>Doshu_Paymentfilter_Helper</class>
	 		</paymentfilter>
	 	</helpers>
        <blocks>
            <paymentfilter>
                <class>Doshu_Paymentfilter_Block</class>
            </paymentfilter>
        </blocks>
        <models>
            <paymentfilter>
		        <class>Doshu_Paymentfilter_Model</class>
		        <resourceModel>paymentfilter_resource</resourceModel>
		    </paymentfilter>
		    <paymentfilter_resource>
            	<class>Doshu_Paymentfilter_Model_Resource</class>
            	<entities>
		            <pf>
		                <table>paymentfilter</table>
		            </pf>
		        </entities>
        	</paymentfilter_resource>
        </models>
    </global>
    <frontend>
		<events>
		    <payment_method_is_active>
		        <observers>
		            <paymentfilter_payment_method_is_active>
		                <type>singleton</type>
		                <class>paymentfilter/observer</class>
		                <method>paymentMethodIsActive</method>
		            </paymentfilter_payment_method_is_active>
		        </observers>
		    </payment_method_is_active>
		</events>
	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <paymentfilter>
                    <file>paymentfilter.xml</file>
                </paymentfilter>
            </updates>
        </layout>
        <args>
            <modules>
                <Doshu_Paymentfilter before="Mage_Adminhtml">Doshu_Paymentfilter</Doshu_Paymentfilter>
            </modules>
        </args>
    </adminhtml>
</config>

